<header class="flex media-sm">
  <span *ngIf="!getUser()">
    Hi
    <a [routerLink]="['/login']">Sign in</a>
    of
    <a [routerLink]="['/register']"
  >Register</a></span>
  <p *ngIf="getUser()" class="userName" mat-button [matMenuTriggerFor]="menu">{{userName}}</p>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogOut()">Log Out</button>
  </mat-menu>
  <ul class="flex">
    <li><a>Daily Deals</a></li>
    <li><a>Sell</a></li>
    <li><a>Help & Contact</a></li>
  </ul>
  <span>
    <img class="flag" src="../../assets/images/gbr.png" alt="union jack">
    <span>£ GBP</span>
  </span>
  <span>
    <div class="shopping-bag" [routerLink]="['/shoppingCart']" routerLinkActive="router-link-active" >
      <img class="bag" src="../../assets/images/icons-bag.png" alt="shopping bag">
      <div *ngIf="itemCount" class="flex flex-dir-col flex-ct item-count flex-ele-tr">
        {{itemCount}}
      </div>
    </div>
    <span *ngIf="itemCount">Your bag: {{ totalPrice | currency:'GBP'}}</span>
  </span>
</header>
