h2 {
  font-size: 16px;
}

ul {
  padding: 0;
}

li {
  font-size: 14px;
  margin: 5px 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-ct {
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 100%;
  height: 241px;
  background-color: #2E2E2E;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: auto 49px;
}

.contacts {
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: #2E2E2E;
}

.contact-item {
  grid-row-start: 2;
}

.hard {
  padding: 20px 0;
  grid-row-start: 1;
}

.hard span {
  margin: 0 20px;
}

.social {
  margin: 0 0 0 20px;
}

.social img {
  margin-right: 20px;
}

.social img:hover {
  cursor: pointer;
}

.grid-item {
  border: none;
  text-align: left;
}

footer {
  width: 100%;
  height: 241px;
}

footer div {
  color: #FFFFFF;
  width: 100%;
}

.footer-base {
  background-color: #1C1C1C;
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 1;
}

@media screen and (max-width: 825px) {
  .questions,
  .in-store,
  .follow {
    display: none;
  }

  .contacts {
    grid-column-start: 1;
    grid-column-end: span 4;
  }

  .hard {
    display: flex;
    justify-content: center;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .social img {
    height: 40px;
    width: 40px;
  }
}
