<footer class="grid-container">
  <div class="grid-item contacts">
    <div class="contact-item hard">
      <span>1 800 2 000 000</span>
      <span>info@shopmate.com</span>
    </div>
    <div class="contact-item social">
      <img src="../../assets/images/icons-instagram-black.png">
      <img src="../../assets/images/icons-pinterest-black.png">
      <img src="../../assets/images/icons-twitter-black.png">
      <img src="../../assets/images/icons-facebook-black.png">
    </div>
  </div>
  <div class="grid-item">
    <h2>QUESTIONS?</h2>
    <ul>
      <li>Help</li>
      <li>Track Order</li>
      <li>Returns</li>
    </ul>
  </div>
  <div class="grid-item">
    <h2>WHAT'S IN STORE?</h2>
    <ul>
      <li>Women</li>
      <li>Men</li>
      <li>Products A-Z</li>
      <li>Buy Gift Vouchers</li>
    </ul>
  </div>
  <div class="grid-item">
    <h2>FOLLOW US</h2>
    <ul>
      <li>Who are we</li>
      <li>Work with us</li>
      <li>Affiliate program</li>
    </ul>
  </div>
  <div class="flex flex-ct grid-item footer-base">
    &copy; 2016 shopmate Ltd
  </div>
</footer>
