<section>
  <div class="image-container">
    <img [src]='displayPicture | cloudinary'>
    <div class="image-btn">
      <button (click)="prevPics()"><<</button>
      <button (click)="nextPics()">>></button>
    </div>
  </div>
  <div class="details-container">
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p>
      <span
        [ngClass]="{discount: !discount}"
      >{{product.price | currency:"GBP"}}</span>
      <span *ngIf="!discount">{{product.discounted_price | currency:"GBP"}}</span>
    </p>
    <button class="add-cart">Add to Cart</button>
  </div>
</section>
