<header>
  <div class="flex header-contents">
    <h1 [routerLink]="['/']" >SHOPMATE</h1>
    <ul class="flex media-sm">
      <li>Women</li>
      <li>Men</li>
      <li>kids</li>
      <li>Shoes</li>
      <li>Brands</li>
    </ul>
    <div class="flex space-btn media-sm">
      <app-search></app-search>
    </div>
    <div class="mv-right">
      <app-shopping-bag></app-shopping-bag>
      <button class="menu" (click)="openSideNav()"><fa-icon [icon]="faBars"></fa-icon></button>
    </div>
  </div>
</header>
