<mat-sidenav-container (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav (keydown.escape)="closeSideNav()" disableClose>
    <div class="search">
      <app-search></app-search>
    </div>
    <mat-nav-list class="flex">
      <a [routerLink]="['']">Women</a>
      <a [routerLink]="['']">Men</a>
      <a [routerLink]="['']">kids</a>
      <a [routerLink]="['']">Shoes</a>
      <a [routerLink]="['']">Brands</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
