<mat-sidenav-container (backdropClick)="closeSideNav()">
  <mat-sidenav #sidenav (keydown.escape)="closeSideNav()" disableClose>
    <div class="search">
      <app-search></app-search>
    </div>
    <p>Your bag: <span>{{ totalPrice | currency:'GBP'}}</span></p>
    <mat-nav-list class="nav" class="flex">
      <a [routerLink]="['']">Women</a>
      <a [routerLink]="['']">Men</a>
      <a [routerLink]="['']">kids</a>
      <a [routerLink]="['']">Shoes</a>
      <a [routerLink]="['']">Brands</a>
    </mat-nav-list>
    <div class="access">
      <a>SignIn</a>
      <a>Register</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
